body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
@keyframes myanime{
    from{
        transform: translate(-100%);
        scale: 20%;
    }
    to{
        transform: translate(0%);
        scale: 100%;
    }
}
.red{
  background-color: red;
  animation: 2s myanime ease-in;
}
.blue{
    background-color: blue;
    grid-column: 2/3;
    grid-row: -3/-2;
   
}
.blue:hover{
    background-color:orange;
    transition: 2s background-color ease-in;
}
.green{
    background-color: green;
    grid-column: 3/3;
    grid-row: -1/-2;
}
.contain{
    display: flex;
justify-content: center;
align-content: space-around;
flex-direction: column;
   
}

 .form-tag{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 5px;
    height: 350px;
    width: 300px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    justify-content: center;
    align-items: center;
 }
.submit{
    background-color: rgb(140, 132, 200);
}
button{
    width: 100px;
    display: block;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(142, 142, 202);
    transition: 1ms background-color ease-in;
}
input{
    width: 200px;
    height: 20px;
    border: 2px solid rgb(232, 223, 223);
    border-radius:5px;
}
input:hover{
    background-color: rgb(202, 205, 207);
    text-decoration-color: #8f94fb;
}
/* .name{
    align-items: center;
    position: relative;
    left:500px;
    top:200px
}
.email{

} */

